In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2022-04-03 04:05:14,41.3712,-73.4140,41.94,69,0,0.00
1,1,Port Elizabeth,ZA,2022-04-03 04:08:13,-33.9180,25.5701,65.10,99,100,4.00
2,2,Butaritari,KI,2022-04-03 04:08:14,3.0707,172.7902,81.93,77,25,15.79
3,3,Kapaa,US,2022-04-03 04:08:14,22.0752,-159.3190,80.58,93,75,21.85
4,4,Santa Paula,US,2022-04-03 04:04:25,34.3542,-119.0593,60.24,80,100,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2022-04-03 04:08:14,3.0707,172.7902,81.93,77,25,15.79
3,3,Kapaa,US,2022-04-03 04:08:14,22.0752,-159.3190,80.58,93,75,21.85
6,6,Arraial Do Cabo,BR,2022-04-03 04:08:15,-22.9661,-42.0278,76.19,88,98,10.02
20,20,Hobyo,SO,2022-04-03 04:08:20,5.3505,48.5268,81.84,70,36,12.21
22,22,Vaini,TO,2022-04-03 04:08:21,-21.2000,-175.2000,82.56,83,75,5.75
31,31,Nelson Bay,AU,2022-04-03 04:08:24,-32.7167,152.1500,75.09,55,100,13.20
38,38,Faanui,PF,2022-04-03 04:08:27,-16.4833,-151.7500,82.45,69,16,2.91
42,42,Atuona,PF,2022-04-03 04:08:28,-9.8000,-139.0333,79.75,75,21,18.92
47,47,Porbandar,IN,2022-04-03 04:09:30,21.6422,69.6093,82.74,54,2,5.97
50,50,Caucasia,CO,2022-04-03 04:09:31,7.9865,-75.1935,77.76,89,86,3.44

In [11]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2        Butaritari      KI     81.93   3.0707  172.7902
3             Kapaa      US     80.58  22.0752 -159.3190
6   Arraial Do Cabo      BR     76.19 -22.9661  -42.0278
20            Hobyo      SO     81.84   5.3505   48.5268
22            Vaini      TO     82.56 -21.2000 -175.2000
31       Nelson Bay      AU     75.09 -32.7167  152.1500
38           Faanui      PF     82.45 -16.4833 -151.7500
42           Atuona      PF     79.75  -9.8000 -139.0333
47        Porbandar      IN     82.74  21.6422   69.6093
50         Caucasia      CO     77.76   7.9865  -75.1935

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,81.93,3.0707,172.7902,Isles Sunset Lodge
3,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Arraial Do Cabo,BR,76.19,-22.9661,-42.0278,Pousada Porto Praia
20,Hobyo,SO,81.84,5.3505,48.5268,Iftin hotel hobyo
22,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
31,Nelson Bay,AU,75.09,-32.7167,152.1500,Mantra Nelson Bay
38,Faanui,PF,82.45,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
42,Atuona,PF,79.75,-9.8000,-139.0333,Villa Enata
47,Porbandar,IN,82.74,21.6422,69.6093,Lords Inn Porbandar
50,Caucasia,CO,77.76,7.9865,-75.1935,Hotel San Rafael

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))